<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(219, 219, 219);
                color: black;
                font-size: 14px;
            }
        </style>
        <title>Joni's Gym app</title>
    </head>
    <body>
        <div align="center" style="margin-top: 50px;">
            {% if session.user_id %}
            <form action="/change_password" method="post">
                Old password: <input type="password" name="password1">
                <p>
                New password: <input type="password" name="password2">
                <p>
                Repeat new password: <input type="password" name="password3">
                <p>
                <input type="submit" value="Change password">
                <input type="hidden" name="token" value="{{ session.csrf_token }}">
            </form>
            <a href="/">Return without saving</a>
            {% endif %}
        </div>
    </body>
</html>
