{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h2>Index page</h2>
{% if session.admin %}
<table align="center" style="border-spacing: 10px;">
    <tr>
        <td>
            <h3>Admin functions</h3>
        </td>
    </tr>
    <tr>
        <td align="center" style="border: 1px solid black; border-radius: 5px; padding: 5px 0;">
            <a href="/new_gym" style="text-decoration: none;">Add new gym</a>
        </td>
    </tr>
    <tr>
        <td align="center" style="border: 1px solid black; border-radius: 5px; padding: 5px 0;">
            <a href="/show_users" style="text-decoration: none;">Show users</a>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Normal user functions</h3>
        </td>
    </tr>
</table>
{% endif %}
{% if session.user_id %}
<table align="center" style="border-spacing: 10px;">
    <tr>
        <td>
            Nymber of gyms in database: {{ count }}
        </td>
    </tr>
    <div align="center">
        <a href="/gotosearch">Search gyms</a>
    </div>
    {% for gym in gyms %}
    <tr>
        <td align="center" style="border: 1px solid black; border-radius: 5px; padding: 5px 0;">
            <a href="/gym_info/{{ gym.id }}" style="padding: 20px 0;">{{ gym.name }}</a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            You are signed in.
        </td>
    </tr>
    <tr>
        <td>
            <a href="/logout">Logout</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td>
            <a href="/login">Login</a>
        </td>
    </tr>
</table>
<br>
{% endif %}
{% endblock %}