{% if session.admin %}
<html>
    <form action="/save_changes" method="POST">
        ID:{{ gym.id }}<br>
        Name:<textarea name="gymname" rows="1" cols="30">{{ gym.name }}</textarea><br>
        Address:<textarea name="gymaddress" rows="1" cols="30">{{ gym.address }}</textarea><br>
        Fee:<textarea name="gymfee" rows="1" cols="10">{{ gym.fee }}</textarea><br>
        Description:<textarea name="gymdescription" rows="3" cols="50">{{ gym.description }}</textarea>
        <input type="submit" value="Save changes">
        <input type="hidden" name="id" value="{{ id }}">
    </form>
    <br>
    <a href="/gym_info/{{ gym.id }}">Return without submitting</a>
</html>
{% endif %}