<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(219, 219, 219);
                color: black;
                font-size: 14px;
            }
        </style>
        <title>Joni's Gym app</title>
    </head>
    <body>
        <div align="center" style="margin-top: 50px;">
            {% if session.user_id %}
            <form action="/submit_review" method="POST">
                Stars:<br>
                <input type="radio" name="stars" value="1"> 1 star
                <input type="radio" name="stars" value="2"> 2 stars
                <input type="radio" name="stars" value="3"> 3 stars
                <input type="radio" name="stars" value="4"> 4 stars
                <input type="radio" name="stars" value="5"> 5 stars
                <br>
                Review:<br>
                <textarea name="content" rows="3" cols="50"></textarea><br>
                <input type="submit" value="Submit review">
                <input type="hidden" name="id" value="{{ id }}">
            </form>
            <a href="/">Return without submitting</a>
            {% endif %}
        </div>
    </body>
</html>
