<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(219, 219, 219);
                color: black;
                font-size: 14px;
            }

            .largeTable {
                margin: 50px auto;
                width: 800px;
            }

            .review {
                margin: 10px 0;
            }
        </style>
        <title>Joni's Gym app</title>
    </head>
    <body>
        <div align="center" style="margin-top: 50px;">
            {% if session.admin %}
            <div class="largeTable">
                Number of users: {{ count }}
                {% for user in users %}
                <div class="review">
                    <i>Id:</i> {{ user.id }}
                </div>
                <div class="review">
                    <i>Username:</i> {{ user.username }}
                </div>
                <div class="review">
                    <i>Admin rights:</i> {{ user.admin }}
                </div>
                <div class="review">
                    <i>Subscriptions:</i> {{ user.name }} | Member since {{ user.joined_at }}
                </div>
                <div class="review">
                    <a href="/remove_user/{{ user.id }}">Delete user</a>
                </div>
                {% endfor %}
                <div class="review">
                    <a href="/">Return</a>
                </div>
            </div>
            {% endif %}
        </div>
    </body>
</html>
