<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(219, 219, 219);
                color: black;
                font-size: 14px;
            }

            .largeTable {
                margin: 50px auto;
                width: 800px;
            }

            .review {
                margin: 10px 0;
            }
        </style>
        <title>Joni's Gym app</title>
    </head>
    <body>
        <div align="center" style="margin-top: 50px;">
            {% if session.user_id %}
            <div class="largeTable">
                <div class="review">
                    <i>Id:</i> {{ user.user_id }}
                </div>
                <div class="review">
                    <i>Username:</i> {{ user.username }}
                </div>
                {% if user.name %}
                <div class="review">
                    <i>Subscriptions:</i> {{ user.name }} | Member since {{ user.joined_at }}
                </div>
                <div class="review">
                    <form action="/cancel_subscription/{{ user.user_id }}" method="POST">
                        <input type="submit" value="Cancel subscription">
                        <input type="hidden" name="token" value="{{ session.csrf_token }}">
                    </form>
                </div>
                {% else %}
                <div class="review">
                    <i>Not a member of any gym</i>
                </div>
                {% endif %}
                <div class="review">
                    <a href="/password">Change password</a>
                </div>
                <div class="review">
                    <a href="/">Return</a>
                </div>
            </div>
            {% endif %}
        </div>
    </body>
</html>
